*
{
	outline:none;
}

body
{
	text-align:center;

	margin:0px;
	padding:0px;

    background-attachment: fixed;
    background-color: #FFFFFF;
}

a
{
	text-decoration: none;
}

font
{
	font-family: Arial;
}

.Clickable
{
    cursor: pointer;
}

.PageColumn
{
    width: 100%;
    
    text-align: center;
}

.MiddleArea
{
    margin: auto;
    
    width: 1024px;
}

#header
{
    height: 48px;
    
    background-color: #585858;
    
    border-bottom: 2px solid #000000;
    border-collapse: collapse;
}

table#headerTable
{
    padding-top: 4px;
}

table#headerTable td#SystemBrand
{
    width: 512px;
    height: 32px;
    
    text-align: left;
    color: #FFFFFF;
    
    font-size: 22px;
}

table#headerTable td#usrAvator
{
    width: 32px;
    height: 32px;
    
    background-image: url("");
    background-size: 32px, 32px;
    background-repeat: no-repeat;
}

table#headerTable td#usrName
{
    width: 224px;
    height: 32px;
    
    text-align: left;
    color: #FFFFFF;
    
    font-size: 20px;
}

table#headerTable td.UserCtrlButton
{
    width: 112px;
    height: 32px;
    
    text-align: right;
    font-weight: bold;
    color: #D8D8D8;
    
    font-size: 16px;
}

            #projectHeader
            {
                border-bottom: 1px solid #DDDDDD;
                margin-bottom: 16px;
            }
            
            #projectHeaderMiddle
            {
                height: 80px;
            }
            
            table#projectHeaderTable
            {
                padding-top: 20px;
            }
            
            table#projectHeaderTable td.ProjectHeaderColumn
            {   
                min-width: 2px;
                
                text-align: left;
                
                font-size: 24px;
                color: #848484;
            }
            
            table#projectHeaderTable td#projectIcon
            {
                width: 32px;
                height: 32px;
                
                background-image: url("project.png");
                background-size: 32px, 32px;
                background-repeat: no-repeat;
            }
            
            .StatisticElementValue
            {
                height: 48px;
                width: 128px;
                
                font-size: 32px;
                font-weight: bold;
                color: #4183C4;
                
                text-align: center;
                
                margin: auto;
            }
            
            .StatisticElementTitle
            {
                height: 16px;
                width: 128px;
                
                font-size: 12px;
                
                text-align: center;
                
                margin: auto;
            }

            .LargeButton
            {
                height: 38px;
                width: 512px;
                
                padding-top: 10px;
                
                margin: auto;
                margin-top: 64px;
                
                font-size: 20px;
            }