*
{
	outline: none;
}

body
{
	margin: 0px;
	padding: 0px;
    
    font-family: Arial,Verdana,Sans-serif;
    text-decoration: none;
}

.Clickable
{
    cursor: pointer;
}

.PageColumn
{
    width: 100%;
}