body
{
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

@media screen and (min-aspect-ratio: 3/2)
{
    body
    {
        background-size: 100% auto;
    }
}

@media screen and (max-aspect-ratio: 3/2)
{
    body
    {
        background-size: auto 100%;
    }
}